/* Main container */
.visual-editor {
    display: flex;
    height: 100%;
}

/* Sidebar styles */
.sidebar {
    background-color: #f0f0f0; /* Example background color */
}

/* Canvas styles */
.canvas {
    flex-grow: 1; /* Allow canvas to grow and take remaining space */
    background-color: grey;
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: stretch; /* Stretch items to fill the container */
    justify-content: flex-start; /* Align items to the top */

}


/* Editor section styles */
.editor-section {
    background-color: #f0f0f0; /* Example background color */
    flex-shrink: 0; /* Prevent property editor from shrinking */
}

/* Menu.css */
.menu {
    width: 100%;
    background-color: #f0f0f0; /* Example background color */
    padding: 10px 0; /* Example padding */
    display: flex;
    justify-content: center;
}

.menu button {
    margin: 0 10px; /* Example button spacing */
}

/* LayoutMenu container styles */
.layout-menu-container {
    position: Relative;
    width: 100%;
    background-color: #f0f0f0; /* Background color for the layout menu container */
    padding: 20px; /* Adjust padding as needed */
}


.canvas-row:hover .delete-button {
    visibility: visible;
}

.sidebar-component {
    width: 100%;
    height: 100%;
}

/* Add these styles to your CSS file */
.column {
    position: relative;
    height: 100%;
    border: 1px solid black;
    margin: 10px;
}

.column.no-components {
    border-style: dashed;
}

.column.with-components {
    border: none;
}
